
<style>
    .finish_title {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: grey;
        font-size: 4em;
    }

    .finish_text-sm {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.9em;
        color: grey;
    }

    .finish_text-md {
        font-family: 'Open Sans', sans-serif;
        font-size: 2em;
        font-weight: bold;
        color: #3963aa;
    }
</style>

<div class="finish" style="display:none">
    <div class="row justify-content-center" align="center">
        <div class="col-sm-12 ">
            <div class="card text-center" style="width: 40rem;">
                <div class="card-body" style="background-color:white;">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="finish_title">¡El proceso finalizó exitosamente!</h1>
                            <br />
                            <p class="finish_text-sm"> <i class="fas fa-check" style="color:limegreen"></i> Su despacho ha sido gestionado correctamente.</p>               
                            <p class="finish_text-sm"> <i class="fas fa-check" style="color:limegreen"></i> Recuerde retirar su factura.</p>
                            <p class="finish_text-sm"> <i class="fas fa-check" style="color:limegreen"></i>El proceso finalizará automáticamente en <label id="timer"> segundos.</label></p>
                            <br />
                            <h4 class="finish_text-md">¡Gracias por utilizar nuestros servicios!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>