<div class="opendoor" style="display:none">
    <div class="row justify-content-center" align="center">

        <div class="col-sm-12">
            <h5 class="step-title mt-2" id="PutContentInside">INGRESE LOS PAQUETES</h5>
            <h5 class="step-title mt-2" id="DoorWillOpen">EL RECIBIDOR DE PAQUETES SE ABRIRÁ </h5>
        </div>

        <div class="col-sm-12">
            <div class="card" style="width: 40em;">
                <img style="height:480px" class="card-img-top"  src="~/Assets/kiosko/img/insert_box.gif" alt="">
                <div class="card-body" style="background-color:#00397c;">
                    <div style="display: flex; justify-content: space-between">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 mt-3">
            <a href="#" class="btn btn-round-pulse-sm" role="button" aria-disabled="true" id="door_status">
                ABRIENDO PUERTA <i class="fas fa-exclamation-triangle"></i>
            </a>
        </div>
    </div>
</div>