<div class="modal fade" tabindex="-1" role="dialog" id="modal_empty">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="text-align:center; ">

            <div class="modal-body"></div>

</div></div></div>