<div class="container mb-2" style="margin-top:60px">
    <img class="img-fluid client-logo-big mt-2" src="~/Assets/kiosko/img/logo_back.png">
</div>
<div class="welcome">
    <div class="container" style="margin-top:10%">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <!-- left text-->
                    <h1 class="welcome-text-bg">
                        ¡BIENVENIDO!
                    </h1>
                </div>
                <div class="row justify-content-center">
                    <label class="welcome-text-sm">Inicia tu proceso de envio de mercancia.</label>
                </div>
                <div class="row justify-content-center">
                    <a href="#" class="btn welcome-button mt-5" role="button" aria-disabled="true">
                        CONTINUAR<i class="fas fa-arrow-right ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="st-footer">
    <div class="d-flex justify-content-center">
        <span class="align-self-end p-2 bd-highlight" style="color:white; vertical-align:bottom">DEL GRUPO</span>
        <img src="~/Assets/kiosko/img/bluback.png" height="100px;" />
    </div>

</div>
