
.client-logo-big {
    width: 45%;
    text-align: right;
    height: 100%;
}


.cubiq-logo-big {
    width: 20%;
    text-align: right;
    height: 100%;
}


.user-action-cubiq {
    width: 80%;
    height: 80%;
    border-radius: 25px;
}
