.welcome-text-bg {
    font-size: 8em;
    color: white;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: 0;
    float: right;
    letter-spacing: -0.09em;
    line-height: 110px !important;
}

.alert-warning-custom {
    color: #feb36f;
    background-color: #ffdec2;
    border-color: #feb36f;
}

.welcome-text-sm {
    font-family: 'Questrial', sans-serif;
    margin-top: 20px !important;
    font-size: 2.7em;
    color: white;
    white-space: nowrap;
}

.welcome-text-info {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px !important;
    font-size: 2em;
    color: white;
}


.input-bg {
    border-radius: 1em;
    width: 20em;
    height: 3em;
    font-size: 2.5em;
}

.input-md {
    border-radius: 0.5em;
    width: 20em;
    height: 2em;
    font-size: 30px;
}

.select-md {
    border-radius: 0.5em;
    width: 20em;
    height: 2em;
    font-size: 30px;
}


.step-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}


.input-bg {
    border-radius: 1em;
    width: 15em;
    height: 3em;
    font-size: 5em;
}

.input-md {
    border-radius: 0.7em;
    width: 15em;
    height: 2em;
    font-size: 4em;
    text-align: center;
}

.input-sm {
    padding: 10px 50px 10px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2em !important;
    border: 2px solid white !important;
    width: 30em;
    height: 4em;
    font-size: 20px;
    color: white !important;
    text-align: center;
}


.input-xs {
    padding: 10px 50px 10px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2em !important;
    border: 2px solid white !important;
    width: 28em;
    height: 4em;
    font-size: 20px;
    color: white !important;
    text-align: center;
}

.input-xxs {
    padding: 10px 50px 10px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2em !important;
    border: 2px solid white !important;
    width: 17.5em;
    height: 4em;
    font-size: 20px;
    color: white !important;
    text-align: center;
}

input::placeholder {
    color: white !important;
}

select::placeholder {
    color: white !important;
}

p {
    font-family: 'Open Sans', sans-serif !important;
}

label {
    font-family: 'Open Sans', sans-serif !important;
}

h4 {
    font-family: 'Open Sans', sans-serif !important;
}


