
.client-logo-big {
    width:30%;
    text-align: right;
    height: 100%;   
}


.cubiq-logo-big {
    width:20%;
    text-align: right;
    height: 100%;   
}


.user-action-cubiq {
    width: 80%;
    height: 80%;
    border-radius: 25px;
}

.responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
}