@{
    Layout = null;
}

<div class="end" style="display:none">
    <div class="row justify-content-center text-center">
        <div class="col-sm-12">
            <h2 class="step-title">FIN PROCESO</h2>
            <hr />
        </div>
    </div>
    <form id="receiver_form">
        <div class="row justify-content-center text-center">
            <div class="col-md-6">
                
                <h4>
                    Debido a que la mercancia supera el volumen permitido, no se puede enviar por este medio.
                    Por favor llamar al 333 4455 para ir a recogerla donde usted desee o acercarse
                    a un punto de recolección.

                </h4>

                <br />
             
                <a href="#" class="btn default-button mt-2 btn_finish_process" role="button" aria-disabled="true">
                    FINALIZAR <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </form>
</div>
