
<div class="modal" tabindex="-1" role="dialog" id="error_message_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="text-align:center; ">
            <div class="modal-header" style="background-color:#0e5aa4;    justify-content: center;">
                <i class="fas fa-exclamation-triangle fa-5x" style="color:white"></i>
            </div>
            <div class="modal-body">
                <h2 id="error_message_modal_title"></h2>
                <label id="error_message_modal_body"></label>
            </div>
            <div class="modal-footer" style="justify-content: center;">
                <button type="button" class="btn default-button-sm " data-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="modal_terms_and_conditions">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="text-align:center; ">
            <div class="modal-header" style="background-color:#0e5aa4;    justify-content: center;">
                <i class="fas fa-info-circle fa-5x" style="color:white"></i>
            </div>
            <div class="modal-body">
                <h2 style="font-family: 'Open Sans', sans-serif !important;">Al continuar usted acepta los términos y condiciones de uso.</h2>
            </div>
            <div class="modal-footer" style="justify-content: center;">

                <button type="button" accept="false" class="btn accept-terms-and-conditions default-button-sm" data-dismiss="modal" style="border: 2px solid white !important;background-image:linear-gradient(to right,#cacaca,#cacaca)  !important;">Cancelar</button>
                <button type="button" accept="true" class="btn accept-terms-and-conditions default-button-sm" data-dismiss="modal">Acepto</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="timeCount_message_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="text-align:center; ">
            <div class="modal-header" style="background-color:#0e5aa4;    justify-content: center;">
                <i class="fas fa-exclamation-triangle fa-5x" style="color:white"></i>
            </div>
            <div class="modal-body">
                <h2 id="timeCount_message_modal_title"></h2>
                <h4 id="timeCount_message_modal_body"></h4>
            </div>
            <div class="modal-footer" style="justify-content: center;">
                <button type="button" class="btn default-button-sm" data-dismiss="modal">CONTINUAR</button>
            </div>
        </div>
    </div>
</div>