<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      >

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  
  <variable name="logLayout"
            value="${longdate}|${level}|T${threadid}|${message}|${exception:format=tostring}"/>
  
  <!--using Asynchronic logging is good for performence bug bad for detecting crashes-->
  <targets async="false">

    <default-wrapper xsi:type="RetryingWrapper"/>

      <layout xsi:type="CsvLayout">
        <!--CSV Options-->
        <withHeader>true</withHeader>
        <delimiter>Tab</delimiter>

        <!--add D to prevent Excel from parsing the date-time-->
        <column layout="D${longdate}" name="Date"/>
        <column layout="${level}" name="Level"/>
        <column layout="${logger}" name="Method"/>
        <column layout="T${threadid}" name="Thread"/>
        <column layout="${message}" name="Message"/>
        <column layout="${exception:format=tostring;maxInnerExceptionLevel=9}" name="Exception"/>
      </layout>

    <!--Application Log File-->
    <target name="appLogFile"
        xsi:type="File"
        fileName="${specialfolder:folder=LocalApplicationData}/otiKiosk/Logs/LogFile.log"
        autoFlush="true"
        archiveFileName="${specialfolder:folder=LocalApplicationData}/otiKiosk/Logs/LogFile.{##}.log"
        archiveNumbering="Sequence"
        maxArchiveFiles="6"
        concurrentWrites="true"
        keepFileOpen="false"
        archiveAboveSize="2000000"
			  >
      
      <layout xsi:type="CsvLayout">
        <!--CSV Options-->
        <withHeader>true</withHeader>
        <delimiter>Tab</delimiter>

        <!--add D to prevent Excel from parsing the date-time-->
        <column layout="D${longdate}" name="Date"/>
        <column layout="${level}" name="Level"/>
        <column layout="T${threadid}" name="Thread"/>
        <column layout="${message}" name="Message"/>
        <column layout="${exception:format=tostring;maxInnerExceptionLevel=9}" name="Exception"/>
      </layout>
    </target>

    <!--Debugger Target-->
    <target xsi:type="Debugger"
            layout="${logLayout}"
            name="debugger"
           />

    <!--Event Log Target-->
    <target xsi:type="EventLog"
          name="eventLog"
          layout="${logLayout}"
          machineName="."
          source="EasyPark"
          category="0"
          eventId="0"
          log="EasyPark" />

    <!--NLogViewer Target-->
    <target name="NLogViewer"
            xsi:type="NLogViewer"
            address="tcp://localhost:4505"
            />

  </targets>

  <rules>
    <logger name="otiKiosk.*" minlevel="Trace" writeTo="appLogFile" />
  </rules>

</nlog>
